body{
    background-color: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 150%;
    font-size: 18px;
}

header{
    background-color: #333333;
}

h1{
    color: #eee;
    font-size: 28px;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
    padding: 20px 0px;
}

h2{
    font-size: 24px;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

#main-bio{
    float: left;
    width: 70%;
}

#contact-info{
    float: left;
    width: 30%;
}

#bio-image{
    float: left;
    width: 200px;
    height: 200px;
    margin: 0px 10px 0px 0px;
}

a{
    color: #d21034;
}